body{

font-family:Poppins;

background:#070b14;

color:white;

margin:0;

text-align:center;

}

/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#111;

padding:15px;

}

.navbar a{

color:white;

margin:8px;

text-decoration:none;

font-size:14px;

}

/* MAIN APP */

.app{

max-width:420px;

margin:auto;

padding:40px;

margin-top:40px;

background:rgba(255,255,255,.05);

border-radius:20px;

}

.title{

font-family:Orbitron;

margin-bottom:30px;

}

.title span{

color:#00f7ff;

}

/* INPUT */

.input-box{

margin-bottom:20px;

text-align:left;

}

input{

width:100%;

padding:14px;

border-radius:10px;

border:none;

}

/* BUTTON */

.neon-btn{

width:100%;

padding:14px;

background:linear-gradient(135deg,#00f7ff,#a100ff);

border:none;

color:white;

border-radius:10px;

cursor:pointer;

}

/* RESULT */

.result-container{

display:flex;

gap:10px;

margin-top:30px;

}

.card{

flex:1;

padding:20px;

background:#111;

border-radius:10px;

}

.number{

font-size:24px;

font-family:Orbitron;

}

/* FOOTER */

.footer{

margin-top:40px;

padding:20px;

background:#111;

}